@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap"); * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;}

body {
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    margin: 0px auto;
}

.container {
    width: 1280px;
    margin: 0px auto;
    padding: 0px 30px;
}

.header-container {
    padding: 10px 50px;
    background-color: aliceblue;
}

.flex {
    display: flex;
    width: 100%;
}

.flex.row {
    flex-direction: row;
}

a {
    text-decoration: none;
    color: rgb(213, 79, 0);
}

.task--bonus a {
    margin: 0px 6px;
    background-color: rgb(23, 184, 255);
    color: white;
    border-radius: 10px;
    padding: 2px 10px;
}

header {
    padding: 30px 0px;
    align-items: center;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.header_badge {
    align-items: center;
}

.header_badge img {
    width: 130px;
    margin-right: 8px;
}

.header_menu {
    margin-left: auto;
    justify-content: end;
}

.header_node_status::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background: rgb(240, 240, 240);
    margin-right: 8px;
}

.header_node_status.active::before {
    background: rgb(139, 255, 40);
}

.header_node_status.inactive::before {
    background: red;
}

form, .transaction__hash, .transaction__data {
    padding: 30px 0px;
}

.form_field_container {
    position: relative;
    margin: 15px 0px;
}

.form_field_label {
    font-size: 20px;
    position: absolute;
    top: -12px;
    left: 20px;
    background: rgb(255, 255, 255);
}

.form_field_input {
    width: 100%;
    font-weight: 400;
    min-height: 53px;
    padding: 0px 20px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 6px;
    font-size: 18px;
    outline: none;
    transition: border 0.1s ease-in-out 0s;
}

.form_field_textarea {
    width: 100%;
    font-weight: 400;
    min-height: 150px;
    padding: 26px 20px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 6px;
    font-size: 18px;
    outline: none;
    transition: border 0.1s ease-in-out 0s;
}

.form_button {
    background: rgb(33, 37, 36);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(33, 37, 36);
    border-radius: 6px;
    width: 100%;
    font-weight: bold;
    height: 53px;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    margin: 15px 0px;
}

.form_button:active {
    background: rgb(0, 0, 0);
    position: relative;
    top: 1px;
}

.form_button.inactive {
    background: none;
    color: rgb(0, 0, 0);
    pointer-events: none;
}

.form_button.loader {
    background: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' xmlns='http://www.w3.org/2000/svg' stroke='%23000'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(1 1)' stroke-width='2'%3E%3Ccircle stroke-opacity='.5' cx='18' cy='18' r='18'/%3E%3Cpath d='M36 18c0-9.94-8.06-18-18-18'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 18 18' to='360 18 18' dur='1s' repeatCount='indefinite'/%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center center no-repeat;
    color: transparent;
    transition: unset;
    pointer-events: none;
}

.form_field_textarea:focus, .form_field_input:focus {
    border-color: rgb(0, 0, 0);
}

.form_rows_container {
    justify-content: space-between;
    gap: 25px;
}

.form_rows_container .form_field_container {
    width: 100%;
}

.transaction {
    border: 1px solid rgb(235, 235, 235);
    border-radius: 6px;
}

.block_title {
    border-bottom: 1px solid rgb(235, 235, 235);
    padding: 15px 20px;
    font-weight: 900;
    border-radius: 6px;
}
.data {
    margin: 15px 0;
}
.transaction_row {
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.transaction_row_data {
    text-align: left;
    padding: 0px 20px;
    width: 100%;
    display: flex;
}

.transaction_info_item {
    padding: 15px 20px;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.transaction_info_item:last-child {
    border: none;
}

.transaction_row_data div {
    padding-bottom: 5px;
}

.transaction_row_data span {
    font-size: 15px;
    display: flex;
    margin-right: 5px;
}

.badge_explorer {
    font-size: 12px;
    color: rgb(255, 255, 255);
    background: rgb(23, 184, 255);
    border-radius: 12px;
    padding: 3px 5px;
    align-content: center;
    margin-left: 5px;
}

.tx_title {
    margin-bottom: 5px;
}

.badge {
    display: inline-block;
    padding: 2px 5px;
    background: rgb(27, 27, 27);
    color: rgb(255, 255, 255);
    font-size: 14px;
    border: 1px solid transparent;
    width: 35px;
}

.badge_orange {
    background: orange;
}

.btn_check_height {
    background: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-color: rgb(235, 235, 235);
}

.btn_check_height:active {
    background: none !important;
}

footer {
    margin-top: 30px;
    padding: 30px 0px;
    border-top: 1px solid rgb(235, 235, 235);
}

footer a {
    margin-left: auto;
}

.notifications-container {
    max-height: 100vh;
    max-width: 320px;
    pointer-events: none;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.notifications-container.notify-is-x-center {
    left: 50%;
    transform: translateX(-50%);
}

.notifications-container.notify-is-y-center {
    top: 50%;
    transform: translateY(-50%);
}

.notifications-container.notify-is-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.notifications-container.notify-is-left {
    left: 0px;
}

.notifications-container.notify-is-right {
    right: 0px;
}

.notifications-container.notify-is-top {
    top: 0px;
}

.notifications-container.notify-is-bottom {
    bottom: 0px;
}

.notifications-container.notify-is-x-center.notify-is-top {
    top: var(--distance) ;
}

.notifications-container.notify-is-x-center.notify-is-bottom {
    bottom: var(--distance) ;
}

.notifications-container > * {
    pointer-events: auto;
}

.notify {
    --notify-error: rgb(235, 87, 87);
    --notify-error-progress: rgb(192, 69, 69);
    --notify-success: rgb(111, 207, 151);
    --notify-success-progress: rgb(84, 170, 120);
    --notify-warning: rgb(242, 201, 76);
    --notify-warning-progress: rgb(196, 166, 79);
    --notify-info: rgb(81, 205, 243);
    --notify-info-progress: rgb(84, 169, 196);
    --notify-gray: rgb(51, 51, 51);
    --notify-gray-2: rgb(77, 77, 77);
    --notify-gray-3: rgb(130, 130, 130);
    --notify-white: rgb(255, 255, 255);
    --notify-white-2: rgba(255, 255, 255, 0.8);
    --notify-padding: 0.75rem;
    --notify-icon-size: 32px;
    --notify-close-icon-size: 16px;
    align-items: center;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    overflow: hidden;
    padding: var(--notify-padding);
    position: relative;
    text-decoration: none;
    transition-timing-function: ease;
    width: 100%;
}

.notify__icon {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: var(--notify-icon-size);
    justify-content: center;
    margin-right: 12px;
    width: var(--notify-icon-size) ;
}

.notify__close {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: var(--notify-close-icon-size);
    justify-content: center;
    position: absolute;
    right: 12px;
    top: 12px;
    user-select: none;
    width: var(--notify-close-icon-size) ;
}

.notify__close * {
    pointer-events: none;
}

.notify__title {
    font-size: 1rem;
    font-weight: 600;
    padding-right: calc(var(--notify-padding) + var(--notify-close-icon-size)) ;
}

.notify__text {
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.notify--type-1 {
    background-color: rgb(255, 255, 255);
    border: 1px solid currentcolor;
}

.notify--type-1 .notify__close {
    color: var(--notify-gray-3) ;
}

.notify--type-1 .notify__title {
    color: var(--notify-gray) ;
}

.notify--type-1 .notify__text {
    color: var(--notify-gray-2) ;
}

.notify--type-2 {
    color: var(--notify-gray) ;
}

.notify--type-3 {
    color: var(--notify-white) ;
}

.notify--type-3 .notify__text {
    color: var(--notify-white-2) ;
}

.notify--error.notify--type-1 {
    box-shadow: rgba(215, 0, 0, 0.1) 0px 2px 26px;
    color: var(--notify-error) ;
}

.notify--error.notify--type-2, .notify--error.notify--type-3 {
    background-color: var(--notify-error) ;
}

.notify--warning.notify--type-1 {
    box-shadow: rgba(242, 201, 76, 0.1) 0px 2px 26px;
    color: var(--notify-warning) ;
}

.notify--warning.notify--type-2, .notify--warning.notify--type-3 {
    background-color: var(--notify-warning) ;
}

.notify--success.notify--type-1 {
    box-shadow: rgba(82, 215, 0, 0.1) 0px 2px 26px;
    color: var(--notify-success) ;
}

.notify--success.notify--type-2, .notify--success.notify--type-3 {
    background-color: var(--notify-success) ;
}

.notify--info.notify--type-1 {
    box-shadow: rgba(84, 175, 202, 0.1) 0px 2px 26px;
    color: var(--notify-info) ;
}

.notify--info.notify--type-2, .notify--info.notify--type-3 {
    background-color: var(--notify-info) ;
}

.notify--fade {
    opacity: 0;
    will-change: opacity;
}

.notify--fadeIn {
    opacity: 1;
}

.notify--slide {
    opacity: 0;
    will-change: opacity, transform;
}

.notify-is-center .notify--slide, .notify-is-y-center .notify--slide, .notify-is-x-center:not(.notify-is-bottom) .notify--slide {
    transform: translateY(-20px);
}

.notify-is-x-center.notify-is-bottom .notify--slide {
    transform: translateY(20px);
}

.notify-is-right .notify--slide {
    transform: translateX(calc(var(--distance) + 110%)) ;
}

.notify-is-left .notify--slide {
    transform: translateX(calc((var(--distance) * -1) - 110%)) ;
}

.notify-is-x-center:not(.notify-is-bottom) .notify--slideIn, .notify-is-center .notify--slideIn, .notify-is-y-center .notify--slideIn, .notify-is-x-center.notify-is-bottom .notify--slideIn {
    opacity: 1;
    transform: translateY(0px);
}

.notify-is-right .notify--slideIn, .notify-is-left .notify--slideIn {
    opacity: 1;
    transform: translateX(0px);
}

.notify-is-left .notify {
    left: var(--distance) ;
}

.notify-is-right .notify {
    right: var(--distance) ;
}

.notify-is-top .notify, .notify-is-center .notify, .notify-is-y-center .notify, .notify-is-x-center.notify-is-top .notify {
    margin-top: var(--gap) ;
}

.notify-is-bottom .notify, .notify-is-x-center:not(.notify-is-top) .notify {
    margin-bottom: var(--gap) ;
}

.notify.notify-autoclose {
    --progress-height: 5px;
    padding-bottom: calc(var(--notify-padding) + var(--progress-height)) ;
}

.notify.notify-autoclose::before {
    animation: progress calc(var(--timeout) * 1ms) linear forwards;
    bottom: 0px;
    content: "";
    height: var(--progress-height);
    left: 0px;
    position: absolute;
    transform: scale3d(1, 1, 1);
    transform-origin: left center;
    width: 100%;
}

@keyframes progress {
    100% {
        transform: scale3d(0, 1, 1);
    }
}

.notify.notify-autoclose.notify--error::before {
    background-color: var(--notify-error-progress) ;
}

.notify.notify-autoclose.notify--warning::before {
    background-color: var(--notify-warning-progress) ;
}

.notify.notify-autoclose.notify--success::before {
    background-color: var(--notify-success-progress) ;
}

.notify.notify-autoclose.notify--info::before {
    background-color: var(--notify-info-progress) ;
}

.transaction__data, .transaction__hash {
    flex-basis: 50%;
}

@media (max-width: 768px) {
    .celestia-container {
        flex-direction: column;
    }
}

.break-all{
    white-space: break-spaces;word-break: break-all;
}
